header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #D1CBC7;
}
  
header a{
  text-decoration: none;
  color: black;
  font-family: arial;

}
header li{
  margin-left: 20px;
  display: inline;

}
li a:hover:not(.active){
  background-color: #111;
  color: white;
  padding: 14px 16px;
}

section{
  height: 100vh;
  display: flex;
  border:1px solid black;
  justify-content: center;
  align-items: center;
}


.h{
  color: #8A8683;
  margin-top: 100px;
  text-align: center;
  font-size: 90px;
  font-family: 'Jura', sans-serif;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.con {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: arial;
  margin-bottom:5%;
}






.container {
  display: flex;
}

.container div {
  border: 1px #8A8683 solid;
  padding: 20px;
  background-color: #8A8683;
  font-family: arial;
}

  .box1 {
  flex: 2;
  text-align: left;
  color: black;
  }

  .box2 {
  flex: 2;
  text-align: left;
  }

  .box3 {
  flex: 2;
  text-align: left;
  font-family: arial;
  color: #D1CBC7;
  }

  .cvet {
  text-decoration: none;
  }


  .mail {
  background-color: white;
  color: #9E9E9E;
  font-family: arial;
  width: 2;
  padding: 5px;
  }

  .quest {
  background-color: white;
  color: #9E9E9E;
  font-family: arial;
  width: ;
  padding: 15px;
  margin: 0px;
  }

/* CONTAINER */
.footertekst {
  font-family: arial;
  color: #D1CBC7;
}

.navi {
  text-decoration: none;
  color: #D1CBC7;
  font-family: arial;
}

.fa {
  padding: 20px;
  font-size: 4px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #E03F86;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

footer {
  background-color: #eee;
  margin-bottom: 10px;
  text-align: center;
  color: #8A8683;
}
