header {
  display: flex;
  position: right;
  top: 0;
  left: 1000px;
  right: 0;
  height: 60px;
  background-color: white;
  margin-left: 120px;
  margin-bottom: 40px;
}

header a {
  text-decoration: none;
  color: black;
  font-family: Open sans, sans-serif;
  padding: 14px 2px;
  margin-top: -10px;
}

header li {
  margin-left: 25px;
  display: inline;
  padding: 15px 2px;
}

li a:hover:not(.active) {
  color: #D9D9D9;
  padding: 14px 2px;
}

.menu{
  margin-left: 570px;
}

img{
  position: left;
  margin-top: auto;
}
/*Til og med her går header*/


/*Overskrift og baggrundsbilled*/
.h{
  color: white;
  margin-top: 0px;
  text-align: center;
  font-size: 90px;
  font-family: 'Jura', sans-serif;

  background-image: url('miig.jpg');
  padding: 20%;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
}


/*Fakta boksene*/
.con{
    display: flex;
  }
.con div{
  background-color:white;
  border: 10px white solid;
  padding: 20px;
  font-family: arial;
  margin-bottom: 50px;
}

.box-1{
  flex: 3;
  text-align: left;
  color: black;
}

.box-2{
  flex: 3;
  text-align: left;
  color: #555555;
}

.box-3 a:hover:not(.active){   /*"SE MIT CV HER!"*/
  text-decoration: none;
  color:  #555555;
}

.box-3 a{   /*"SE MIT CV HER!"*/
  text-decoration: none;
  color:  #555555;
}


.box-3{
  flex: 3;
  text-align: left;
  color: #7A7A7A;
}

.box-4{
  flex: 3;
  text-align: left;
  color: #7A7A7A;
}

.broed{
  color:  #555555;
}

.tekst{
  color: #7D7D7D;
}

/*VIDEO SEKVENS*/
.video{

  margin-bottom: 120px;

  color: #555555;
  font-family: arial;
  font-size: 12px;
  text-align: center;
}


/*Billeder*/
.billeder{
  text-align: center;
}


/*Kontakt mig her*/
.knap1{
  border: 20px;
  background-color: #F0F0F0;
  padding: 25px;
  margin-top: 130px;
  margin-bottom: -30px;
  width: 700px;
  height: 250px;
  margin-left: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.interesse{
  font-family: arial;
  font-size: 22px;
  text-align: center;
  color: #555555;
  text-align: center;
}

.kontakt{
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-align: center;
  color: #555555;
  text-align: center;
}

.knap{ /*Selve knappen*/
  border: 20px;
  background-color: #7A7A7A;
  padding: 7px;
  margin-top: 30px;
  width: 130px;
  height: 25px;
  margin-left: 280px;
  border-radius: 5%;  /*Kassernes hjørner*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-family: arial;
  font-size: 19px;
  text-align: center;
  color:  #F0F0F0;
  text-decoration: none;
  text-align: center;
}

.knap1 a:hover:not(.active){
  text-decoration: none;
}

.knap1 a{
  text-decoration: none;
}



/*Footeren og kun footeren */
.footer{
display: flex;
font-size: 13px;
color: #555555;
}

.navn{
  flex: 1%;
  margin-left: 35%;
  margin-bottom: 50px;
  margin-top: 180px;
}

.social{
  flex: 1%;
  margin-left: 250px;
  margin-top: 250px;
}


footer {
  background-color: #E6E6E6;
  margin-bottom: 10px;
  text-align: center;
  color: #A6A6A6;
}
